@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bold";
  src: url("./assest/fonts/IRANYekanBold.ttf");
}
@font-face {
  font-family: "Extrabold";
  src: url("./assest/fonts/IRANYekanExtraBlack.ttf");
}
@font-face {
  font-family: "regular";
  src: url("./assest/fonts/IRANYekanRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.bold{
  font-family: bold !important;
}
.Extrabold{
  font-family: Extrabold !important;
}
.regular{
  font-family: regular !important;
}
.rtl{
  direction: rtl !important;
}

